*{
    margin: 0;
    padding: 0;
}


.heading {
    color: #5a2f2f; 
    margin:2%  
}

.para {
    margin: 18px;
}



body {
    margin: 0;
    display: flex;
    /* justify-content: center;  */
    /* align-items: center;      */
    background-color: #f3d3a3;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
    /* align-items: center; */
    margin: 2%
}
